body {
    color: var(--text-color-main, #0C1227);
    font-family: var(--text-family, sans-serif);
}

h1 {
    margin: 0 0 10px;
}

.no-scroll {
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;

    background-color: var(--white, #FFFFFF);
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 100;
}

.overlay_visible {
    display: block;
}

.hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hero-content hero-image";
    align-items: center;
    gap: 0 5%;
    padding: 140px 80px 108px;

    background-color: var(--page-bg, #FBFCFD);
}

.hero__content {
    grid-area: hero-content;
    width: 100%;
}

.hero__title {
    font-family: var(--text-family, sans-serif);
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
}

.hero__image {
    grid-area: hero-image;
    width: 100%;
    height: auto;
}

.hero__image img {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0 80px 60px;
    gap: 0 40px;

    font-size: 13px;
    font-weight: 500;
    line-height: 16px;

    background-color: var(--page-bg, #FBFCFD);
}

.content {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 20px 0;
    width: 100%;
}

.content__ad {
    width: 100%;
    max-width: 920px;

    border-radius: var(--border-radius-xlarge, 20px);
}

.add__list {
    line-height: 1.5;
}

.add__form {
    padding-bottom: 14px;

    border-bottom: 1px solid var(--gray-light, #E7E7E7);
}

.add__result {
    margin: 20px 0;
}

.add__result_success {
    color: var(--active, #41C968);
}

.add__result_failed {
    color: var(--error, #FF6666);
}

.add__form-wrapper {
    margin-bottom: 10px;
}

.input-file {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.input-file__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
}

.input-file__text {
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
}

.input-file__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.examples__items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;

    margin: 32px 0;
    padding: 0;

    list-style: none;
}

.examples__item {
    margin-right: 12px;
}

.examples__item:last-child {
    margin-right: 0;
}

.examples__image {
    width: 100%;
    height: auto;

    border-radius: var(--border-radius, 12px);

    cursor: pointer;
}

.examples__image:hover {
    outline: 2px solid var(--blue-light, #5969A1);
}

.examples__image_selected {
    outline: 2px solid var(--blue, #2F448A);
}

.fields__wrapper {
    margin-bottom: 20px;
}

.formlabel {
    display: block;
    margin-top: 20px;

    color: var(--gray-darker,#9EA0A9);
}

.formtips {
    width: 200px;
    display: inline-block;
    margin-bottom: 20px;

    text-align: center;
}

.formtip {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.formactual {
    display: block;
    width: 100%;
    margin-top: 10px;

    cursor: pointer;
}

.fields {
    width: 100%;
    margin-top: 10px;
    padding: 20px 16px;

    color: var(--black-light, #4F5463);
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;

    background-color: var(--off-white, #F9F9FB);

    border: none;
    border-radius: var(--border-radius-small, 8px);

    outline: 2px solid var(--gray-light, #E7E7E7);
}

textarea.fields {
    height: 100px;
}

.fields:focus {
    outline: 2px solid var(--gray-darker, #9EA0A9);
}

.fields::placeholder {
    color: var(--text-color-placeholder, #6776A9);
}

.fields_error {
    color: #FF6666;

    outline: 2px solid var(--error, #FF6666);
}

.fields_error::placeholder {
    color: var(--error, #FF6666);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 12px 0;
    width: 320px;
    flex-shrink: 0;
}

.sidebar__ad {
    border-radius: var(--border-radius-xlarge, 20px);
}

@media (max-width: 960px) {
    .hero {
        display: block;
        padding: 144px 16px 60px;
    }

    .hero__image {
        display: none;
    }

    .content {
        margin-bottom: 60px;
    }

    .main {
        display: block;
        padding-left: 16px;
        padding-right: 16px;
    }

    .sidebar {
        width: 100%;
    }

    .nav-bottom {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 480px) {
    .hero__title {
        font-size: 32px;

        line-height: 39px;
    }

    .hero__subtitle {
        margin-bottom: 40px;
    }

    .input-file {
        flex-direction: column;
    }

    .input-file__text {
        line-height: 30px;
    }

    .examples__items {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}
