body {
    color: var(--text-color-main, #0C1227);
    font-family: var(--text-family, sans-serif);
}

h1 {
    margin: 0 0 10px;
}

.no-scroll {
    overflow: hidden;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;

    background-color: var(--white, #FFFFFF);
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 10;
}

.overlay_visible {
    display: block;
}

.main {
    font-size: 13px;
    font-weight: 500;

    line-height: 16px;
}

.main p {
    color: var(--black-light, #4F5463);
}

.main p:last-child {
    margin-bottom: 0;
}

.hero {
    display: flex;

    padding: 184px 80px 100px;

    background-color: var(--page-bg, #FBFCFD);
}

.hero__content {
    width: 100%;
}

.hero__breadcrumbs {
    margin-bottom: 10px;
}

.hero__title {
    font-family: var(--text-family, sans-serif);
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;

    margin-bottom: 52px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0 80px 60px;
    gap: 0 40px;

    background-color: var(--page-bg, #FBFCFD);
}

.content {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 60px 0;
}

.content__title {
    margin-bottom: 8px !important;
}

.content__ad {
    width: 100%;
    height: 320px;

    border-radius: var(--border-radius-xlarge, 20px);

    background-color: var(--gray-light, #E7E7E7);;
}

.about__title {
    margin-bottom: 8px !important;
}

.about__items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;

    margin: 32px 0;
    padding: 0;

    list-style: none;
}

.about__item {
    margin-right: 12px;
}

.about__item:last-child {
    margin-right: 0;
}

.about__image {
    width: 100%;
    height: auto;

    border-radius: var(--border-radius, 12px);
}

.disclamer__title {
    margin-bottom: 8px !important;
}

.feedback__title {
    margin-bottom: 16px !important;
}

.feedback__content {
    padding: 20px;

    border-radius: var(--border-radius-xlarge, 20px);

    background-color: var(--white, #FFFFFF);
}

.main .feedback__preface {
    margin: 0 0 20px 0;

    color: var(--text-color-second, #2F448A);
    font-size: 15px;
    font-weight: 600;

    line-height: 18px;
}

.wpcf7-form {
    display: grid;
    grid-template-areas: "name email"
                         "subject subject"
                         "message message"
                         "submit submit";
    grid-template-columns: auto auto;

    width: 100%;
}

.wpcf7-form p {
    margin: 0 0 12px 0;
}

.wpcf7-form p:nth-child(2) {
    grid-area: name;

    margin-right: 12px;
}

.wpcf7-form p:nth-child(3) {
    grid-area: email;

    margin-left: 0;
}

.wpcf7-form p:nth-child(4) {
    grid-area: subject;
}

.wpcf7-form p:nth-child(5) {
    grid-area: message;
}

.wpcf7-form p:nth-child(6) {
    grid-area: submit;
}

.wpcf7-form p:last-of-type {
    margin-bottom: 0;
}

input[name="your-name"],
input[name="your-email"],
input[name="your-subject"],
textarea[name="your-message"] {
    width: 100%;
    padding: 26.5px 24px;

    color: var(--black, #0C1227);
    font-size: 15px;
    font-weight: 500;

    line-height: 18px;

    background-color: var(--off-white, #F9F9FB);

    border: none;
    border-radius: var(--border-radius, 12px);

    outline: none;
}

textarea[name="your-message"] {
    resize: none;
}

input[name="your-name"]::placeholder,
input[name="your-email"]::placeholder,
input[name="your-subject"]::placeholder,
textarea[name="your-message"]::placeholder {
    color: var(--black-light, #4F5463);
}

input[name="your-name"]:focus,
input[name="your-email"]:focus,
input[name="your-subject"]:focus,
textarea[name="your-message"]:focus {
    outline: 2px solid var(--gray-light, #E7E7E7);
}

input[type="submit"] {
    padding: 19px 29px;

    color: var(--button-normal-color, #FFFFFF);
    font-family: var(--text-family, sans-serif);
    font-size: 17px;
    font-weight: 700;

    line-height: 21px;

    background-color: var(--button-normal-background, #2F448A);

    border-radius: var(--border-radius, 12px);

    border: 3px solid var(--button-normal-border, #2F448A);
    outline: none;

    cursor: pointer;
}

input[type="submit"]:hover {
    color: var(--button-normal-color, #FFFFFF);

    background-color: var(--button-normal-background_hover, #5969A1);

    border: 3px solid var(--button-normal-border_hover, #5969A1);
}

input[type="submit"]:focus {
    outline: 3px solid var(--gray-light, #E7E7E7);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 12px 0;
    width: 320px;
    flex-shrink: 0;
}

.sidebar__ad {
    width: 100%;
    height: 320px;

    border-radius: var(--border-radius-xlarge, 20px);

    background-color: var(--gray-light, #E7E7E7);
}

@media (max-width: 960px) {
    .hero {
        display: block;
        padding: 132px 16px 60px;
    }

    .hero__title {
        margin-bottom: 40px;
    }

    .hero__image {
        display: none;
    }

    .content {
        margin-bottom: 60px;
    }

    .main {
        display: block;
        padding-left: 16px;
        padding-right: 16px;
    }

    .certificates__nav {
        display: flex;
        justify-content: center;
    }

    .sidebar {
        width: 100%;
    }

    .nav-bottom {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 480px) {
    .hero__title {
        font-size: 32px;

        line-height: 39px;
    }

    .about__items {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .about__item {
        margin-bottom: 12px;
    }

    .feedback__content {
        padding: 16px;

        border-radius: var(--border-radius-large, 16px);
    }

    .main .feedback__preface {
        margin: 0 0 12px 0;
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
    }

    .wpcf7-form {
        grid-template-areas:  "name"
                              "email"
                              "subject"
                              "message"
                              "submit";
        grid-template-columns: 100%;
    }

    .wpcf7-form p:nth-child(2) {
        margin-right: 0;
    }

    input[name="your-name"],
    input[name="your-email"],
    input[name="your-subject"],
    textarea[name="your-message"] {
        padding: 17px 16px;
    }

    input[type="submit"] {
        width: 100%;
        padding: 14px 29px;
        font-size: 15px;
        line-height: 18px;
    }
}
