.agencies-item {
    display: block;
    padding: 20px;

    color: var(--text-color-main, #2F448A);
    font-family: var(--text-family, sans-serif);

    background-color: var(--white, #FFFFFF);

    border-radius: var(--border-radius-xlarge, 20px);
    box-shadow: 4px 4px 24px rgba(4, 13, 42, 0.01);

    overflow: hidden;
}

.agencies-item__title {
    margin-bottom: 12px;
    padding-right: 14px;

    font-size: 14px;
    font-weight: 700;

    background: url("../../images/arrow-right.svg") no-repeat center right;
}

.agencies-item__title:hover {
    background: url("../../images/arrow-right_hover.svg") no-repeat center right;
}

.agencies-item__link {
    color: var(--link-normal-color);

    text-decoration: none;
}

.agencies-item__link:hover {
    color: var(--link-normal-color_hover);

    text-decoration: none;
}

.agencies-item__description {
    color: var(--black-light, #4F5463);
    font-size: 12px;
    font-weight: 500;

    line-height: 14px;

    text-align: left;
}

@media (max-width: 480px) {
    .agencies-item {
        padding: 16px;

        border-radius: var(--border-radius-large, 16px);
    }
}
