.agencies-table {
    display: grid;
    grid-template-columns: minmax(210px, 20%) minmax(175px, 65%) minmax(175px, 15%);

    padding: 20px 20px 0 20px;

    color: var(--text-color-main, #0C1227);
    font-size: 12px;
    font-family: var(--text-family, sans-serif);
    font-weight: 500;

    line-height: 12px;

    background-color: var(--white, #FFFFFF);

    border-radius: var(--border-radius-xlarge, 20px);
    box-shadow: 4px 4px 24px rgba(4, 13, 42, 0.01);

    overflow: auto;
}

.agencies-table__cell {
    padding-top: 20px;
    padding-right: 32px;
    margin-bottom: 20px;

    border-top: 1px solid #E6E8F0;
}

.agencies-table__cell_hidden {
    display: none;
}

.agencies-table__cell_header {
    padding-top: 0;

    color: var(--black-light, #4F5463);

    border: none;

    white-space: nowrap;
}

.agencies-table__cell_info {
    grid-column: span 3;
    margin-top: -12px;
    margin-bottom: 20px;
    padding: 12px !important;

    color: var(--black-light, #4F5463);
    font-size: 11px;

    line-height: 13px;

    background-color: var(--off-white, #F9F9FB);

    border-top: none;
    border-radius: var(--border-radius, 12px);
}

.agencies-table__cell_name {
    text-decoration: underline;
}

.agencies-table__cell_city {
    padding-right: 0;
}

.agencies-table__link {
    display: block;

    color: inherit;

    text-decoration: none;

    cursor: pointer;
}

.agencies-table__link:hover {
    color: var(--link-black-color_hover, #2F448A);
}

.agencies-table__link_website {
    margin-top: 4px;

    color: var(--link-gray-color, #505463);
    font-size: 10px;
}

.agencies-table__link_website_hover {
    color: var(--link-gray-color_hover, #505463);
}

.agencies-table__scroll {
    display: inline-block;
    width: 12px;
    height: 12px;

    background: url("../../images/scroll.svg") 2px 1px no-repeat;

    cursor: pointer;
}

.agencies-table__scroll_up {
    background: url("../../images/scroll-up.svg") 2px 1px no-repeat;
}

.agencies-table__scroll_down {
    background: url("../../images/scroll-down.svg") 2px 1px no-repeat;
}

.agencies-table__expandinfo::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url("../../images/arrow-down.svg") 0px -2px no-repeat;
}

.agencies-table__expandinfo:hover::before {
    background: url("../../images/arrow-down_hover.svg") 0px -2px no-repeat;
}

.agencies-table__expandinfo_expanded::before  {
    background: url("../../images/arrow-up.svg")  0px -2px no-repeat;
}

.agencies-table__expandinfo_expanded:hover::before  {
    background: url("../../images/arrow-up_hover.svg")  0px -2px no-repeat;
}

@media (max-width: 480px) {
    .agencies-table {
        padding: 16px;
    }

    .agencies-table__cell {
        padding-top: 16px;
        margin-bottom: 16px;
    }

    .agencies-table__cell_header {
        padding-top: 0;
    }

    .agencies-table__cell_info {
        margin-top: -8px;
    }
}
