.norms-item {
    display: block;
    padding: 20px;

    color: var(--text-color-main, #0C1227);
    font-family: var(--text-family, sans-serif);

    background-color: var(--white, #FFFFFF);

    border-radius: var(--border-radius-xlarge, 20px);
    box-shadow: 4px 4px 24px rgba(4, 13, 42, 0.01);

    overflow: hidden;
}

.norms-item__title {
    margin-bottom: 12px;
    padding-right: 14px;

    font-size: 16px;
    font-weight: 700;

    line-height: 19.5px;

    text-decoration: none;

    background: url("../../images/arrow-right.svg") no-repeat center right;
}

.norms-item__title:hover {
    background: url("../../images/arrow-right_hover.svg") no-repeat center right;
}

.norms-item__link {
    color: var(--link-normal-color, #2F448A);

    text-decoration: none;
}

.norms-item__link:hover {
    color: var(--link-normal-color_hover, #5969A1);
}

.norms-item__description {
    color: var(--text-color-sub, #535867);
    font-size: 12px;
    font-weight: 500;

    line-height: 14px;

    text-align: left;
}

@media (max-width: 480px) {
    .norms-item {
        padding: 16px;

        border-radius: var(--border-radius-large, 16px);
    }

    .norms-item__title {
        font-size: 16px;
        font-weight: 700;

        line-height: 19.5px;
    }
}
