.search-mobile {
    width: 100%;
    padding: 16px;

    font-family: var(--text-family, sans-serif);
    font-size: 12px;
    font-weight: 500;

    line-height: 15px;

    background-color: var(--white, #FFFFFF);

    border-radius: var(--border-radius-large, 16px);

    box-shadow: 4px 4px 24px rgba(4, 13, 42, 0.01);
}

.search-mobile__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;

    background-color: var(--off-white, #F9F9FB);

    border-radius: var(--border-radius-small, 8px);
}

.search-mobile__magnifier {
    width: 14px;
    height: 14px;
    margin-left: 8px;
    margin-right: 8px;

    flex-shrink: 0;

    background-image: url("../../images/magnifier.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.search-mobile__input {
    width: 100%;
    margin-right: 8px;

    color: var(--text-color-main, #0C1227);
    font-weight: 500;

    line-height: 24px;

    background-color: var(--off-white, #F9F9FB);

    border: none;
    outline: 0;
    caret-color: var(--black, #0C1227);
}

.search-mobile__input::placeholder {
    color: var(--text-color-placeholder, #6776A9);
}

.search-mobile__input:placeholder-shown {
    text-overflow: ellipsis;
}
