.specs {
    display: block;
    padding: 32px;

    color: var(--text-color-main, #0C1227);
    font-family: var(--text-family, sans-serif);

    background-color: var(--white, #FFFFFF);

    border-radius: var(--border-radius-xlarge, 20px);
    box-shadow: 4px 4px 24px rgba(4, 13, 42, 0.01);

    overflow: hidden;
}

.specs__downloads {
    display: flex;
}

.specs__download {
    margin-right: 12px;
    padding: 7px 30px !important;
}

.specs__downloads_bottom {
    margin-bottom: 32px;
}

.specs__download-details {
    display: block;
    margin-top: 3px;

    color: #C5CBDE;
    font-size: 11px;
    font-weight: 500;

    line-height: 13px;
}

.specs__download:last-child {
    margin-right: 0;
}

.specs__items {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 250px auto;
    padding: 0;
    list-style: none;
}

.specs__key {
    margin-bottom: 32px;
    padding-top: 32px;

    font-size: 14px;
    font-weight: 600;

    line-height: 17px;

    border-top: 1px solid var(--gray-light, #E7E7E7);
}

.specs__key:nth-child(1) {
    border-top: none;
}

.specs__value {
    margin-bottom: 32px;
    padding-top: 32px;

    color: var(--black-light, #4F5463);
    font-size: 12px;
    font-weight: 500;

    line-height: 17px;

    border-top: 1px solid var(--gray-light, #E7E7E7);
}

.specs__value:nth-child(2) {
    border-top: none;
}

.specs__flag-number {
    display: flex;
    align-items: center;

    line-height: 100%;
}

.specs__flag {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.specs__number {
    white-space: nowrap;
    overflow: hidden;
}

.specs__validity-validated {
    display: flex;
    justify-content: space-between;
}

.specs__validity {
    margin-right: 20px;
}

.specs__validated {
    flex-shrink: 0;
}

.specs__validated_true {
    position: relative;

    width: 95px;

    color: #41C968;
}

.specs__validated_true::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: -18px;
    top: 0;
    background: url("../../images/tick.svg") no-repeat center center;
}

.specs__validated_false {
    position: relative;

    width: 75px;

    color: var(--gray, #A3A3A3);
}

.specs__validated_false::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    left: -18px;
    top: 0;
    background: url("../../images/cross.svg") no-repeat center center;
}

.specs__agency {
    display: grid;
    grid-template-areas: "agency-title agency-title"
                         "agency-reg agency-website"
                         "agency-info agency-info"
                         "agency-more agency-more";
}

.specs__agency-title {
    grid-area: agency-title;
    margin-bottom: 8px;

    font-size: 13px;
}

.specs__agency-title-link {
    color: var(--black, #0C1227);

    text-decoration: underline;
}

.specs__agency-title-link:hover {
    color: var(--blue, #2F448A);
}

.specs__agency-reg {
    grid-area: agency-reg;
    margin-bottom: 8px;

    color: var(--blue, #2F448A);
    font-size: 13px;
}

.specs__agency-website {
    grid-area: agency-website;
    justify-self: flex-end;
    margin-bottom: 8px;

    font-size: 13px;
}

.specs__agency-website-link {
    color: var(--gray-dark, #505463);

    text-decoration: underline;
}

.specs__agency-website-link:hover {
    color: var(--gray-darklight, #535867);
}

.specs__agency-info {
    grid-area: agency-info;
    margin-bottom: 8px;
    padding: 12px;

    font-size: 11px;
    font-weight: 500;

    line-height: 14px;

    background-color: var(--off-white, #F9F9FB);

    border-radius: var(--border-radius-small, 8px);
}

.specs__agency-more {
    grid-area: agency-more;
    font-size: 13px;
    font-weight: 600;

    line-height: 16px;
}

.specs__agency-more-link {
    padding-right: 14px;

    color: var(--link-normal-color, #2F448A);
    text-decoration: none;

    background: url("../../images/arrow-right.svg") no-repeat right
}

.specs__agency-more-link:hover {
    color: var(--link-normal-color_hover, #5969A1);
    text-decoration: none;

    background: url("../../images/arrow-right_hover.svg") no-repeat right center;
}

.specs__product {
    font-weight: 700;
}

.specs__category {
    margin-right: 10px;

    color: var(--black-light, #4F5463);

    line-height: 13px;
}

.specs__category-link {
    display: block;
    margin-bottom: 6px;

    color: var(--link-black-color, #0C1227);

    text-decoration: none;
}

.specs__category-link:hover {
    color: var(--link-black-color_hover, #2F448A);

    text-decoration: none;
}

.number {
    color: var(--blue, #2F448A);
    font-weight: 700;
}

.ancestor {
    margin-left: 16px;
}

.specs__complies-link {
    display: block;
    margin-bottom: 4px;

    color: var(--link-black-color, #0C1227);

    text-decoration: none;
}

.specs__complies-link:hover {
    color: var(--link-black-color_hover, #2F448A);

    text-decoration: none;
}

.specs__complies-link:last-child {
    margin-bottom: 0;
}

.specs__manufacturer-logo {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.specs__manufacturer-logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.specs__manufacturer-logo-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.specs__manufacturer-title {
    color: var(--black, #0C1227);
    font-size: 13px;

    text-decoration: underline;
}

.specs__manufacturer-info {
    margin-bottom: 8px;
    padding: 12px;

    font-size: 11px;
    font-weight: 500;

    line-height: 14px;

    background-color: var(--off-white, #F9F9FB);

    border-radius: var(--border-radius-small, 8px);
}

.specs__manufacturer-more {
    font-size: 13px;
    font-weight: 600;

    line-height: 16px;
}

.specs__manufacturer-more-link {
    padding-right: 14px;

    color: var(--link-normal-color, #2F448A);
    text-decoration: none;

    background: url("../../images/arrow-right.svg") no-repeat right
}

.specs__manufacturer-more-link:hover {
    color: var(--link-normal-color_hover, #5969A1);
    text-decoration: none;

    background: url("../../images/arrow-right_hover.svg") no-repeat right center;
}

@media (max-width: 480px) {
    .specs {
        padding: 16px;
    }

    .specs__downloads {
        display: block;
        margin-bottom: 16px;
    }

    .specs__download {
        width: 100%;
        min-height: 44px;
        margin-bottom: 6px;
        padding: 3px 30px !important;
    }

    .specs__items {
        grid-template-columns: 100%;
    }

    .specs__key {
        margin-bottom: 12px;
        padding-top: 16px;
    }

    .specs__key:nth-child(1) {
        padding-top: 0;
    }

    .specs__value {
        margin-bottom: 16px;
        padding-top: 0;


        line-height: 15px;

        border-top: none;
    }
}
