.title-more {
    display: block;

    color: var(--text-color-main, #0C1227);
    font-family: var(--text-family, sans-serif);

    overflow: hidden;
}

.title-more__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    color: var(--link-normal-color, #2F448A);

    text-decoration: none;

    overflow: hidden;
}

.title-more__link:hover {
    color: var(--link-normal-color_hover, #5969A1);

    text-decoration: none;
}

.title-more__title {
    margin: 0;
    padding: 0;

    font-size: 24px;
    font-weight: 700;

    line-height: 29px;
}

.title-more__link:hover > .title-more__more {
    background: url("../../images/arrow-right_hover.svg") no-repeat right 7px bottom 2px;
}

.title-more__more {
    padding-right: 22px;

    font-size: 14px;
    font-weight: 600;

    line-height: 17px;

    background: url("../../images/arrow-right.svg") no-repeat right 7px bottom 2px;
}

@media (max-width: 480px) {
    .title-more__title {
        font-size: 20px;
        font-weight: 700;

        line-height: 24px;
    }
}
